<html>
  <head>
    {% if title %}
        <title>{{ title }} - Tropicana</title>
    {% else %}
        <title>Tropicana</title>
    {% endif %}
  </head>

  <body>
    <div>
        <a href="{{ url_for('order') }}">New Order</a>
        <a href="{{ url_for('find_orders') }}">Find Order</a>
        <a href="{{ url_for('customer') }}">Find Customer</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>